.signin-screen {
  background-color: var(--color-gray-0);
  .signin-form {
    background-color: var(--color-white);
  }
}

.verify-screen {
  background-color: transparent;
  .verify-form {
    margin: 50px auto;
    max-width: 350px;
    padding: var(--space-lg);
    form {
      .title {
        margin: 0;
      }
    }
  }
}