.user-edit-screen {
  height: 800px;
  .tab-wrapper {
    display: flex;
    flex-direction: column;
    padding: var(--space-lg);
    button {
      border: 0;
      outline: 0;
      margin-bottom: var(--space-sm);
      padding: var(--space-sm);
      border-radius: 8px;
      background-color: transparent;
      text-align: left;
      color: var(--color-gray-2);
      display: flex;
      align-items: center;
      svg {
        font-size: var(--font-xl);
        margin-right: var(--space-sm);
        fill: var(--color-gray-2);
        stroke-width: 10;
      }
      &:hover {
        background-color: var(--color-gray-0);
      }
      &.active {
        color: var(--color-text);
        font-weight: 700;
        background-color: var(--color-gray-0);
        svg {
          fill: var(--color-text);
        }
      }
    }
  }
}
