:root {
  --color-background: #f4f4f4;
  --color-white: #fbfbfb;
  --color-primary: #4559f9;
  --color-secondary: #fab428;
  --color-yellow-0: #fff6cc;
  --color-text: #1d1d1f;
  --color-gray: #86868b;
  --color-gray-0: #f5f5f5;
  --color-gray-1: #f0f2f5;
  --color-gray-2: #929292;
  --color-blue-0: #e4f0ff;
  --color-blue-1: #add1ff;

  --color-success: #23fb23;
  --color-success-light: #c8fbc8;
  --color-success-dark: #025f02;
  --color-danger: red;

  --color-modal: #000000e8;
}